extends baseEmail

block content
  p Hi #{firstName},
  p We received a request to reset your TeamViewer password.
  p This code is for resetting your password only, valid for 10 minutes.
  p The code is necessary for ID verification, so please do not disclose it to others.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password

  p If you didn't request this, no action is required - please disregard this email.
  p Have you a nice day!
  p Admin